<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asrul.covidvaccine">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_vaccine_active"
        android:supportsRtl="true"
        android:theme="@style/Theme.CovidVaccine"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.profile.PasswordActivity"/>
        <activity android:name=".ui.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.vaccine.DetailVaksinasiActivity" />
        <activity android:name=".ui.profile.EditProfileActivity"/>
        <activity android:name=".ui.riwayat.RiwayatActivity"/>
        <activity android:name=".ui.service.payment.DetailPaymentActivity" />
        <activity android:name=".ui.news.WebViewActivity" />
        <activity
            android:name=".ui.service.ServiceRegistActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.service.ServiceActivity"/>
        <activity
            android:name=".ui.assessment.AssessmentActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.provinsi.ProvinsiActivity"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity android:name=".ui.RegisterActivity" />
        <activity
            android:name=".ui.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>